<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 70px; 
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="~/BuscarUsuario.cshtml">Inicio</a></li>
                    <li><a href="/Tareas.cshtml">Tareas</a></li>
                    <li><a href="/RegistrarUsuario.cshtml">Registrar Usuario</a></li>
                </ul>
            </div>
        </div>
    </nav> 

    <div class="container">
        <header>
            <h2 class="text-center">Tareas</h2>
            <hr />
        </header>

        @RenderBody()

        <hr />
        <footer class="text-center">
            <p>2025 - Jhon Hernández</p>
        </footer>
    </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>

